
body {
  background-color: #339933;
}

#table_title {
  font-size: 48px;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #202c2d;
  text-shadow: 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

#num_deck_wrapper {
  padding: 0 0 15px 0;
}

#num_deck_label {
  font-size: 14px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#dealer_title, #player_title {
  font-size: 24px;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #202c2d;
  text-shadow: 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

.card {
  height: 100px;
  width: 69px;
  padding: 2px;
}

