

#usercards img, #dealercards img, #DeckHolder img {
  height: 125px;
  width: 86.25px;
  padding: 2px;
}

#buttonholder button {
	width: 100px;
	height: 50px;
}
 
#startGame {
	height: 50px;
} 

.card-container {
	width: 400px;
	height: 200px;
	padding: 20px;
	margin: 10px;
}

#bankInfoContainer{
	position: absolute;
	top: 125px;
}
#bankRollBg {
		background-color: #00CC99;
	position: absolute;
	left: 10px;
	width: 150px;
}

#wagerBg {
		background-color: #00CC99;
	position: absolute;
	left: 200px;
		width: 150px;
}

.bankAmounts {

}

#sliderWrapper {
	position: absolute;
	top: 160px;
	left:50%;
    margin-left:-150px;
	width: 300px;
}

.game-controls {
	width: 400px;
	height: 200px;
	padding: 20px;
	margin: 10px;
}